# local data and checkpoints

dataset/

datasets/

results/

metrical-tracker/output/

track_params/

track_params*.pt

*.npy

*.pt

*.pth

*.pkl

*.mp4

*.avi

*.flv

*.jpg

*.png


# licensed stuff

assets/FLAME2020/

pretrained_models/

flame/generic_model.pkl


# python and os

__pycache__/

*.pyc

.pytest_cache/

.DS_Store

Thumbs.db


# conda  and ide

.conda/

.idea/

.vscode/



